/* Responsive for Small Devices */
@media screen and (max-width: 576px) {
  /* common styles */
  .nav-container,
  .banner,
  .banner-content {
    width: 95%;
  }
  .section-title {
    font-size: 2rem;
  }

  /* nav section */
  .nav-menu {
    display: none;
  }
  .nav-menu-bar {
    display: block;
    font-size: 2rem;
  }

  /* banner section */
  .banner {
    padding: 50px 0;
  }
  .banner-content h2 {
    font-size: 2rem;
  }
  .banner-search {
    width: 70%;
    flex-direction: column;
  }
  input,
  select {
    width: 95%;
  }
  .banner-search button {
    width: 95%;
  }

  /* tour section */
  .tour {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  /* destination section */
  .destination-cards-row1,
  .destination-cards-row2,
  .destination-cards-row3 {
    grid-template-columns: 1fr;
  }
  .country-card img {
    height: 200px;
  }

  /* quality section */
  .quality-card-row1,
  .quality-card-row2 {
    grid-template-columns: 1fr;
  }
  .quality-card-row2 {
    width: 100%;
  }

  /* discount section */
  .discount-offer {
    bottom: 20px;
    left: 20px;
    padding: 15px;
    width: 80%;
    grid-template-rows: repeat(5, 1fr);
  }

  /* perfect place section */
  /* responsive done by tour section */

  /* newsletter section */
  .newsletter-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .newsletter-form {
    padding: 20px;
    gap: 20px;
  }
  .newsletter-image button p {
    font-size: 1rem;
  }
  .newsletter-image button h4 {
    font-size: 1.25rem;
  }

  /* footer section */
  .footer-content {
    width: 90%;
  }
}

/* Responsive for Medium Devices */
@media screen and (min-width: 576.02px) and (max-width: 992px) {
}

/* Responsive for Large Devices */
@media screen and (min-width: 992.02px) {
}
