@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Mulish", sans-serif;
}

.yellow {
  color: #ff5400;
}
.dark1 {
  color: #131318;
}
.dark2 {
  color: rgba(19, 19, 24, 0.7);
}
.dark3 {
  color: #424247;
}
.dark4 {
  color: #5a5a5d;
}

.btn-primary {
  background-color: #ff5400;
  color: #fff;
  font-weight: 700;
  padding: 15px 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

section {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}
.section-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.section-info {
  line-height: 26px;
  margin-bottom: 24px;
}
.section-content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}

/* nav section */
.nav-container {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  display: flex;
  align-items: center;
}
.nav-title img {
  width: 48px;
  margin-right: 1rem;
}
.nav-title h2 {
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu a {
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 2rem;
}

/* banner section */
.banner {
  width: 90%;
  margin: 0 auto;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 1),
      rgba(19, 19, 24, 0)
    ),
    url(./images/travel-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-content {
  width: 60%;
  text-align: center;
  margin-bottom: 48px;
}
.banner-content h2 {
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 24px;
}
.banner-content p {
  line-height: 26px;
  color: #fff;
}
.banner-search {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  backdrop-filter: blur(2px);
}
input,
select {
  width: 150px;
  height: 40px;
  padding: 0 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
}
select {
  cursor: pointer;
  color: #5a5a5d;
}

/* tour section */
.tour {
  display: grid;
  grid-template-columns: repeat(2, calc(45%));
  gap: 10%;
  justify-content: space-between;
  align-items: center;
}
.tour-content li {
  margin: 18px 24px;
}
.tour-image img {
  width: 100%;
}

/* destination section */
.destination-cards-row1,
.destination-cards-row2,
.destination-cards-row3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.destination-cards-row2 {
  grid-template-columns: 0.8fr 0.9fr 0.7fr;
}
.destination-cards-row3 {
  grid-template-columns: 1fr 0.8fr;
}
.country-card img {
  width: 100%;
  height: 300px;
  filter: brightness(80%);
}
.country-card {
  position: relative;
}
.country-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75rem;
  font-weight: 700;
  color: #fff;
}

/* quality section */
